.Header {
  background: #0c0c0cbe;
  width: 100%;
  display: flex;
  justify-content: end;
  right: 0;
  position: fixed;
  padding: 1rem 30rem;
  z-index: 10;
}

@media (max-width: 2600px) {
  .Header {
    padding: 2rem 10rem;
  }
}

@media (max-width: 1400px) {
  .Header {
    padding: 2rem 5rem;
  }
}

@media (max-width: 500px) {
  .Header {
    padding: 2rem 2rem;
  }
}