.Skills {
  background-image: url('../../../public/img/back.svg');
  background-size: auto;
  padding-bottom: 1px;
}

.SkillsCaixa {
  text-align: center;
  background-color: #131212;
  border-radius: 30px;
  padding: 5% 10% 5% 10%;
  margin: -3% 15% 10% 15%;
  position: relative;
  z-index: 3;
}

.SkillsCaixa h2 {
  font-size: 3rem;
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.Carousel {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  justify-content: center;
}

.CarouselItem img {
  height: 60px;
  margin: 0 auto;
}
